$background : #333745;
$header-background :  rgb(47, 45, 49);
$title-textcolor :white;
$subtitle-textcolor :rgb(212, 192, 245);
$button-color : #8357c5;
$light-blue : #464b5e;
$blue : #3c4251;
$desktop-breakpoint : 560px;